@font-face {
  font-family: "FontAwesome";
  src: url("./assets/fonts/FontAwesome.otf");
}

@font-face {
  font-family: "FontAwesomeBrands";
  src: url("./assets/fonts/FontAwesomeBrands.otf");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #2D9CDB;
  text-decoration: none;
}

html, body, #root {
  height: 100%;
}

ul, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}